.view-container {
  display: grid;
  grid-template-rows: 1fr 0.5fr auto;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  justify-content: center;
}
.view-header {
  grid-row: 1;
  grid-column: 2;
  justify-self: start;
}

.search-input {
  grid-row: 2;
  height: 30px;
  width: 175px;
  grid-column: 2/3;
  border-radius: 5px;
  justify-self: start;
  border: 1px solid grey;
  align-self: center;
}

.prompt {
  grid-column: 3;
  grid-row: 2;
  justify-self: center;
}
